:root {
 --text-primary: #333333;
 --text-secondary: #666666;
 --text-muted: #888888;
 --border: #e5e5e5;
 --primary-white: #f1f5f9;
 --section-background: #2563eb;
 --gray-background:#f8f9fa;
}
.main{
 width: 100%;
 min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.main-container{
 color: var(--text-primary);
 background-color:var(--gray-background);
 padding: 20px 40px;
 width: 70%;
 border: 1px solid var(--text-muted);
 border-radius: 4px;
 box-shadow: 4px 4px 10px var(--border);
}
.main-title{
 font-size: 27px;
 font-weight: 600;
 text-align: center;
 margin-bottom: 45px;
}
.general-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.info-cont{
 display: flex;
 flex-direction: column;
 margin-bottom: 30px;
 gap: 12px;
}
.info-cont label{
 font-size: 17px;
}
.info-cont input{
 outline: none;
 border: 1px solid var(--text-muted);
 background-color: #fafafa;
 border-radius: 4px;
 padding: 10px 20px;
 font-size: 16px;
 color: inherit;
}
.info-cont input:focus{
 outline: none;
 border-color: var(--section-background);
 background-color: #fff;
 box-shadow: 2px 2px 2px #fdfdfd;
}

.education-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.education-title{
font-size: 22px;
 font-weight: 600;
 text-align: center;
 margin-bottom: 32px;
}